body {
    padding-top: 50px;
}

html {
    font-size: 16px !important;
}

nav.margin-top {
    margin-top: 0.5rem;
}

.special {
    padding-top: 50px;
}

a.active {
    color: red !important;
    text-decoration: underline;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
    position: relative;
    background-color: white;
    padding: 4em 2em;
}

.modal__close {
    position: absolute;
    top: -30px;
    right: 0;
}