<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="/dist/styles/webawesome.css" />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/manifest.webmanifest" />

        <script src="https://kit.webawesome.com/9fcf948dbdcc4bed.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/c955a53ade.js" crossorigin="anonymous"></script>

        <title>IGL compta webapp</title>
        <link rel="stylesheet" href="styles.css" />
        <style>
            body {
                padding-top: 50px;
            }

            .special {
                padding-top: 50px;
            }

            a.active {
                color: red !important;
                text-decoration: underline;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-brand" href="">
                <img th:src="@{images/Logo.svg}" width="30" alt="logo" />
            </a>
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="fa-solid fa-house"></i></a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/personne">Système de gestion des personnes</a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/compta">Système de gestion de la comptabilité</a>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm static-top p1-primary">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand active" href="/compta/search">Recherche des écritures</i></a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/compta/plan">Gestion des plans</a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/compta/config">Configuration</a>
                </div>
            </div>
        </nav>
    </body>
</html>